@import "syntax-variables";

atom-text-editor,
atom-pane-container,
atom-csv-editor,
tablr-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter {
  background-color: @syntax-gutter-color-background;
  color: @syntax-gutter-color-text;
}

atom-text-editor .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-color-background-selected;
  color: @syntax-gutter-color-text-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-color-text-selected;
}

atom-text-editor .wrap-guide {
  background-color: @syntax-wrap-color-guide;
	color: @syntax-wrap-color-guide;
}

atom-text-editor .indent-guide {
  color: @syntax-indent-color-guide;
}

atom-text-editor .invisible-character {
  color: @syntax-invisible-color-character;
}

atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region {
  color: @syntax-color-selection;
  background-color: @syntax-color-selection-bg;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line {
  background-color: @syntax-color-selection;
}
