@import "syntax__colors";

.syntax--comment {
  color: @syntax-comment-color;
}

.syntax--numeric {
  color: @syntax-integer-color;
}

.syntax--entity {

  &.syntax--function {
    color: @syntax-function-color;
  }

  &.syntax--name {
    color: @syntax-identifier-color;
  }

  &.syntax--name.syntax--type {
    color: @syntax-keyword-color;
    font-style: italic;
  }

  &.syntax--other.syntax--inherited-class {
    color: @syntax-object-color;
  }
}

.syntax--keyword {

  &.syntax--operator {
    font-weight: bold;
    color: @syntax-fg-color;
  }

  &.syntax--control,
  &.syntax--other.syntax--special-method {
    color: @syntax-keyword-color;
  }

  &.syntax--other.syntax--unit {
    color: @syntax-identifier-color;
  }

  &.syntax--other.syntax--new,
  &.syntax--operator.syntax--new {
    font-weight: bold;
    color: @syntax-constants-color;
  }
}

.syntax--storage {

  color: @syntax-storage-color;

  &.syntax--type,
  &.syntax--modifier {
    font-style: italic;
  }
}

.syntax--module {
  color: @syntax-module-color;
}

.syntax--source {
  color: @syntax-fg-color;
}

.syntax--string {
  &.syntax--unquoted {
    font-style: italic;
    color: lighten(@syntax-string-color, 10%);
    background-color: @syntax-bg-inset;
  }

  &.syntax--quoted {
    color: darken(@syntax-string-color, 10%);
  }

  &.syntax--other.syntax--link {
    color: @syntax-function-color;
  }

  &.syntax--regexp {
    background-color: @syntax-regexp-bg;
  }
}

.syntax--regexp {
  color: @syntax-regexp-color;
  font-style: normal;

  .syntax--punctuation.syntax--definition.syntax--character-class {
    color: @syntax-regexp-punctuation-color;
    font-weight: bold;
  }

  .syntax--keyword {
    color: @syntax-regexp-keyword-color;
    font-weight: bold;
  }

  .syntax--constant {
    color: @syntax-regexp-constant-color;
    font-weight: bold;
  }
}

.syntax--meta.syntax--flag {
  font-weight: bold;
  font-style: italic;
  &.syntax--regexp {
    color: @syntax-escape-color;
  }
}

.syntax--source.syntax--ruby.syntax--embedded {
  color: @syntax-object-color;
}

.syntax--constant {

  &.syntax--other {
    color: @syntax-fg-color;
  }

  &.syntax--language {
    font-style: italic;
    font-weight: bold;
    color: @syntax-reference-color;
  }

  &.syntax--numeric.syntax--floating-point {
    text-decoration: underline;
  }

  &.syntax--other.syntax--color, &.syntax--other.syntax--symbol {
    color: @syntax-keyword-color;
  }
}

.syntax--variable {
  color: @syntax-variable-color;

  &.syntax--other.syntax--property,
  &.syntax--other.syntax--lua {
    color: @syntax-fg-color;
  }

  &.syntax--interpolation {
    color: darken(@syntax-identifier-color, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-parameter-color;
  }
}

.syntax--invalid {
  background-color: @syntax-error-color;
  color: @syntax-black-absolute;

  &.syntax--illegal, &.syntax--deprecated {
    font-weight: bold;
  }
}

.syntax--template {
  color: darken(@syntax-string-color, 4%);
  background-color: @syntax-bg-inset;

  .syntax--embedded {
    color: lighten(@syntax-string-color, 12%);
  }
}

.syntax--punctuation {
  &.syntax--definition {

    &.syntax--arguments {
      color: @syntax-fg-color;
    }

    &.syntax--comment {
      color: @syntax-comment-color;
    }

    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-fg-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @syntax-keyword-color;
    }

    &.syntax--string {
      &.syntax--begin,
      &.syntax--end {
        font-weight: bold;
        color: @syntax-string-punctuation-color;
      }
    }

    &.syntax--bold {
      color: @syntax-identifier-color;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @syntax-storage-color;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded, &.syntax--variable.syntax--interpolation {
    color: @syntax-mg-color;
    font-weight: bold;
    font-style: italic;
    padding: 0 0.2em;
  }

}

.syntax--support {
  &.syntax--type, &.syntax--class {
    color: @syntax-identifier-color;
  }

  &.syntax--constant {
    color: @syntax-fg-color;
  }

  &.syntax--function  {
    color: @syntax-keyword-color;
  }

  &.syntax--function.syntax--construct {
    color: @syntax-function-color;
  }

  &.syntax--variable, &.syntax--other.syntax--variable {
    color: @syntax-object-color;
  }

  &.syntax--constant.syntax--dom, &.syntax--type.syntax--dom, &.syntax--class.syntax--dom {
    color: @syntax-constants-color;
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @syntax-keyword-color;
  }

  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @syntax-identifier-color;
  }

  &.syntax--name.syntax--section {
    color: @syntax-keyword-color;
  }

  &.syntax--name.syntax--tag {
    color: @syntax-object-color;
  }

  &.syntax--name.syntax--tag.syntax--style, &.syntax--name.syntax--tag.syntax--script {
    color: @syntax-fg-color;
  }

  &.syntax--other.syntax--attribute-name {
    color: @syntax-attribute-color;

    &.syntax--id {
      color: @syntax-keyword-color;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @syntax-identifier-color;
  }

  &.syntax--link {
    color: @syntax-function-color;
  }

  &.syntax--require {
    color: @syntax-keyword-color;
  }

  &.syntax--selector {
    color: @syntax-storage-color;
  }

  &.syntax--separator {
    background-color: @syntax-mg-color;
    color: @syntax-fg-color;
  }

  &.syntax--tag {
    color: @syntax-parameter-color;
  }

  &.syntax--diff.syntax--range {
    color: @syntax-string-color;
    background-color: @syntax-bg-inset;
  }

  &.syntax--diff.syntax--header {
    color: @syntax-darkblue;
    background-color: @syntax-bg-inset;
  }
}

.syntax--none {
  color: @syntax-fg-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @syntax-parameter-color;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @syntax-storage-color;
  }

  &.syntax--deleted {
    color: @syntax-bg-color;
    background-color: @syntax-error-color;
  }

  &.syntax--italic {
    color: @syntax-storage-color;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @syntax-keyword-color;
  }

  &.syntax--inserted {
    color: @syntax-bg-color;
    background-color: @syntax-string-color;
  }

  &.syntax--list {
    color: @syntax-parameter-color;
  }

  &.syntax--quote {
    color: @syntax-property-color;
  }

  &.syntax--raw.syntax--inline {
    color: @syntax-string-color;
  }
}

.syntax--source {
  &.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;
    &.syntax--heading {
      color: @syntax-integer-color;
    }
  }

  &.syntax--css.syntax--embedded {
    background-color: @syntax-bg-color;
  }

  &.syntax--js.syntax--embedded {
    background-color: @syntax-bg-color;
  }
}
