@import "syntax-variables";

.keyword.other.create.sql {
  color: @syntax-constants;
}

.storage.type.sql {
  color: @syntax-constants;
}

.storage.modifier.sql {
  color: @syntax-constants;
}

.constant.other.database-name.sql {
  color: @syntax-constants;
}
