@import "syntax__colors";

.syntax--constant.other.color.rgb-value.css, .syntax--support.constant.property-value.css {
  color: @syntax-lightwhite;
}

.syntax--meta.property-name.css {
  color: @syntax-gray;
}

.syntax--punctuation.separator.key-value.css, .syntax--punctuation.terminator.rule.css {
  color: @syntax-lightwhite;
}

.syntax--support.constant.property-value.css {
  color: @syntax-text-color;
}

.syntax--constant.numeric.css {
  color: @syntax-text-color;
}

.syntax--entity.name.tag.css {
  font-style: italic;
  color: #cf4c20;
}

.syntax--entity.other.attribute-name.class.css {
  color: #e0bf48;
}

.syntax--entity.other.attribute-name.id.css {
  color: #ef8d0f;
}

.syntax--keyword.other.unit.css {
  color: #9fdfec;
}

.syntax--support.type.property-name.css, .syntax--meta.property-name.css {
  color: @syntax-lightgray;
}
