.syntax--punctuation.definition.string.php, .syntax--string.quoted.double.php, .syntax--string.quoted.single.php {
  color: #e0cc75;
}

.syntax--entity.other.attribute-name.php {
  color: #99ccee;
}

.syntax--constant.other.php, .syntax--variable.parameter.php {
  color: #2095f0;
}
