@import "syntax-variables";

.syntax--keyword.syntax--other.syntax--create.syntax--sql {
  color: @color-syntax-constant;
}

.syntax--storage.syntax--type.syntax--sql {
  color: @color-syntax-constant;
}

.syntax--storage.syntax--modifier.syntax--sql {
  color: @color-syntax-constant;
}

.syntax--constant.syntax--other.syntax--database-name.syntax--sql {
  color: @color-syntax-constant;
}
