@import "syntax__colors";

.syntax--variable.language.self {
  color: @syntax-bloodorange;
}

.syntax--keyword.language.lua, .syntax--constant.language.lua, .syntax--variable.parameter.function.lua, .syntax--entity.name.lua, .syntax--entity.name.class.lua {
  color: @syntax-ice;
}

.syntax--keyword.other.new.lua {
  font-weight: bold;
  color: @syntax-red;
}

.syntax--punctuation.definition.parameters.begin.lua, .syntax--punctuation.definition.parameters.end.lua, .syntax--support.function.any-method.lua {
  color: @syntax-lightblue;
}

.syntax--entity.name.function.lua {
  color: @syntax-orange;
}

.syntax--meta.require.lua, .syntax--meta.function-call.lua, .syntax--support.function.lua {
  color: @syntax-darkblue;
}
