.syntax--punctuation.syntax--definition.syntax--string.syntax--php, 
.syntax--string.syntax--quoted.syntax--double.syntax--php, 
.syntax--string.syntax--quoted.syntax--single.syntax--php {
  color: #e0cc75;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--php {
  color: #99ccee;
}

.syntax--constant.syntax--other.syntax--php, 
.syntax--variable.syntax--parameter.syntax--php {
  color: #2095f0;
}
