@import "syntax-variables";

.syntax--string.syntax--quoted.syntax--double.syntax--js,
.syntax--string.syntax--quoted.syntax--single.syntax--js,
.syntax--string.syntax--quoted.syntax--other.syntax--js {
  color: @syntax-color-string;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--js {
  color: @color-syntax-attribute;
}

.syntax--entity.syntax--name.syntax--type.syntax--instance.syntax--js {
  color: @syntax-color-module;
}

.syntax--support.syntax--js {
  &.syntax--class {
    color: @syntax-color-identifier;
  }
}
