// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// WHITE
@syntax-white-absolute: #FFFFFF;
@syntax-darkwhite: #C6C9CC;
@syntax-white: #D9DCDF;
@syntax-lightwhite: #EFEFEF;

// GRAY
@syntax-gray-absolute: #777777;
@syntax-darkgray: #66696C;
@syntax-gray: #797C7F;
@syntax-lightgray: #8F8F8F;

// BLACK
@syntax-black-absolute: #000000;
@syntax-darkblack: #26292C;
@syntax-black: #36393C;
@syntax-lightblack: #46494C;

// RED
@syntax-darkred: #CD2000;
@syntax-red: #E92E2E;
@syntax-lightred: #FF4180;
@syntax-pink: #FF5F6F;

// ORANGE
@syntax-redorange: #FB5109;
@syntax-darkorange: #B8693F;
@syntax-orange: #F57C00;
@syntax-lightorange: #F59C20;

// YELLOW
@syntax-gold: #FFBF48;
@syntax-yellow: #FFDF00;
@syntax-lightyellow: #DBB867;

// GREEN
@syntax-lightolive: #CFCA95;
@syntax-yellowgreen: #A8EF60;
@syntax-darkgreen: #269F00;
@syntax-green: #76FF03;
@syntax-lightgreen: #65C767;
@syntax-bluegreen: #88DFB0;
@syntax-mint: #16DF8F;
@syntax-moss: #95C797;
@syntax-lightmoss: #B3D9B2;
@syntax-aqua: #8ABEB7;
@syntax-teal: #008080;

// BLUE
@syntax-cyan: #18FFFF;
@syntax-lightcyan: #41B3FF;
@syntax-darkblue: #1481FF;
@syntax-blue: #96CBFE;
@syntax-periwinkle: #8EB2FF;
@syntax-lightblue: #BDD4EE;

// PURPLE
@syntax-indigo: #3300FF;
@syntax-purple: #886DFF;
@syntax-lightpurple: #B8ADFF;
@syntax-magenta: #FF2FFF;

// General colors
@syntax-constants-color: @syntax-yellow;
@syntax-integer-color: @syntax-green;
@syntax-string-color: @syntax-lightorange;
@syntax-string-punctuation-color: @syntax-darkorange;
@syntax-substring-color: @syntax-lightolive;
@syntax-comment-color: @syntax-lightblack;
@syntax-attribute-color: @syntax-blue;
@syntax-parameter-color: @syntax-pink;
@syntax-identifier-color: @syntax-moss;
@syntax-variable-color: @syntax-lightyellow;
@syntax-escape-color: @syntax-yellowgreen;
@syntax-function-color: @syntax-lightcyan;
@syntax-support-color: @syntax-darkblue;
@syntax-keyword-color: @syntax-periwinkle;
@syntax-object-color: @syntax-pink;
@syntax-ligature-color: @syntax-magenta;
@syntax-property-color: @syntax-lightblue;
@syntax-module-color: @syntax-cyan;
@syntax-reference-color: @syntax-redorange;
@syntax-modifier-color: @syntax-purple;
@syntax-storage-color: @syntax-purple;
@syntax-tag-color: @syntax-gold;
@syntax-error-color: @syntax-red;

// RegExp
@syntax-regexp-color: #99EF00;
@syntax-regexp-bg2: #1A3F0F;
@syntax-regexp-bg: rgba(55, 255, 50, 0.1);
@syntax-regexp-punctuation-color: #00EF99;
@syntax-regexp-keyword-color: #9FCF9F;
@syntax-regexp-constant-color: #9FCF9F;

// For git diff info. i.e. in the gutter
// These are static and were not extracted from your textmate theme
@syntax-color-renamed: @syntax-blue;
@syntax-color-added: @syntax-yellowgreen;
@syntax-color-modified: @syntax-lightorange;
@syntax-color-removed: @syntax-pink;

// Syntax common colors
@syntax-bg-inset: rgba(49, 48, 46, 0.51);
@syntax-double-quoted: @syntax-lightorange;
@syntax-single-quoted: @syntax-magenta;

// Predefined colors
@syntax-bg-color: @syntax-darkblack;
@syntax-bg-accent: @syntax-black;
@syntax-bg-highlight: @syntax-lightblack;

@syntax-mg-color: @syntax-darkgray;
@syntax-mg-accent: @syntax-gray;
@syntax-mg-highlight: @syntax-lightgray;

@syntax-fg-color: @syntax-darkwhite;
@syntax-fg-accent: @syntax-white;
@syntax-fg-highlight: @syntax-lightwhite;

@syntax-selection-color: @syntax-black-absolute;
@syntax-selection-bg-color: rgba(238, 255, 238, 0.33);

// Guide colors
@syntax-wrap-guide-color: @syntax-bg-accent;
@syntax-indent-guide-color: @syntax-bg-accent;
@syntax-invisible-character-color: @syntax-bg-accent;

// For find and replace markers
@syntax-result-marker-color: @syntax-mg-color;
@syntax-result-marker-color-selected: @syntax-mg-highlight;

// Gutter colors
@syntax-gutter-text-color: @syntax-fg-color;
@syntax-gutter-text-color-selected: @syntax-fg-highlight;
@syntax-gutter-background-color: @syntax-bg-color;
@syntax-gutter-background-color-selected: @syntax-bg-highlight;

// Stylesheet specific
@syntax-stylesheet-property: @syntax-fg-color;
@syntax-stylesheet-punctuation: @syntax-fg-accent;
@syntax-stylesheet-value: @syntax-fg-highlight;
@syntax-stylesheet-element: @syntax-redorange;
@syntax-stylesheet-id: @syntax-orange;
@syntax-stylesheet-class: @syntax-lightyellow;
@syntax-stylesheet-variable: @syntax-pink;
@syntax-stylesheet-unit: @syntax-lightorange;
@syntax-stylesheet-pseudo: @syntax-darkorange;
