.string.quoted.double.js, .string.quoted.single.js, .string.quoted.other.js {
  color: #af9fdf;
}

.string.quoted.double.js, .string.quoted.single.js, .string.quoted.other.js {
  color: #efa332;
}

.entity.other.attribute-name.js {
  color: #99cc99;
}

.entity.name.type.instance.js {
  color: #b5ff6a;
}

.keyword.js, .keyword.control.js {
  color: #94a6fc;
}

.constant.js {
  color: #df7925;
}
