@import "syntax__colors";

.syntax--comment {
  color: @syntax-comment-color;
}

.syntax--entity {
  color: @syntax-yellow;

  &.syntax--function {
    color: @syntax-green;
  }

  &.syntax--name {
    color: @syntax-yellow;
  }

  &.syntax--name.syntax--class {
    color: @syntax-orange;
  }

  &.syntax--name.syntax--type {
    color: @syntax-lightorange;
    text-decoration: underline;
  }

  &.syntax--other.syntax--inherited-class {
    color: @syntax-mint;
  }
}

.syntax--keyword {
  color: @syntax-blue;

  &.syntax--control, &.syntax--language {
    color: @syntax-blue;
  }

  &.syntax--operator {
    color: @syntax-text-color;
  }

  &.syntax--other.syntax--special-method {
    color: @syntax-blue;
  }

  &.syntax--other.syntax--unit {
    color: @syntax-orange;
  }

  &.syntax--other.syntax--new {
    font-weight: bold;
    color: @syntax-red;
  }
}

.syntax--storage {
  color: @syntax-purple;

  &.syntax--type.syntax--function {
    color: @syntax-purple;
  }

  &.syntax--modifier {
    font-style: italic;
    color: @syntax-purple;
  }

  &.syntax--type.syntax--class, &.syntax--type.syntax--method, &.syntax--type.syntax--module {
    color: @syntax-orange;
  }

  &.syntax--modifier.syntax--extends, &.syntax--modifier.syntax--global, &.syntax--modifier.syntax--implements {
    color: @syntax-orange;
  }
}

.syntax--constant {
  color: @syntax-orange;

  &.syntax--character.syntax--escape {
    color: @syntax-rust;
  }

  &.syntax--language {
    font-style: italic;
    color: @syntax-blue;
  }

  &.syntax--numeric {
    color: @syntax-integer-color;
  }

  &.syntax--numeric.syntax--floating-point {
    text-decoration: underline;
  }

  &.syntax--other.syntax--color, &.syntax--other.syntax--symbol {
    color: @syntax-cyan;
  }
}

.syntax--variable {
  color: @syntax-lightorange;

  &.syntax--other.syntax--lua {
    color: @syntax-text-color;
  }

  &.syntax--interpolation {
    color: darken(@syntax-lightorange, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-pink;
  }
}

.syntax--invalid {
  background-color: @syntax-red;
  color: #000000;

  &.syntax--illegal, &.syntax--deprecated {
    font-style: bold;
  }
}

.syntax--string {
  color: @syntax-string-color;

  &.syntax--unquoted {
    font-style: italic;
    color: lighten(@syntax-string-color, 10%);
    background-color: @syntax-bg-inset;
  }

  &.syntax--quoted.syntax--single {
    font-style: italic;
    color: darken(@syntax-string-color, 10%);
  }

  &.syntax--quoted.syntax--double {
    background-color: @syntax-bg-inset;
  }

  &.syntax--regexp {
    color: @syntax-integer-color;
    background-color: #222f09;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @syntax-orange;
    }
  }

  &.syntax--other.syntax--link {
    color: @syntax-ice;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @syntax-comment-color;
    }

    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-text-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @syntax-blue;
    }

    &.syntax--bold {
      color: @syntax-lightorange;
      font-style: bold;
    }

    &.syntax--italic {
      color: @syntax-purple;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded, &.syntax--variable.syntax--interpolation {
    color: @syntax-gray;
    font-style: bold;
  }

}

.syntax--support {
  &.syntax--type, &.syntax--class {
    color: @syntax-lightorange;
  }

  &.syntax--constant {
    color: @syntax-white;
  }

  &.syntax--function  {
    color: @syntax-cyan;

    &.syntax--any-method {
      color: @syntax-blue;
    }
  }

  &.syntax--function.syntax--construct {
    color: @syntax-ice;
  }

  &.syntax--variable, &.syntax--other.syntax--variable {
    color: @syntax-orange;
  }

  &.syntax--constant.syntax--dom, &.syntax--type.syntax--dom, &.syntax--class.syntax--dom {
    color: @syntax-yellow;
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @syntax-blue;
  }

  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @syntax-lightorange;
  }

  &.syntax--name.syntax--section {
    color: @syntax-blue;
  }

  &.syntax--name.syntax--tag {
    color: @syntax-orange;
  }

  &.syntax--name.syntax--tag.syntax--style, &.syntax--name.syntax--tag.syntax--script {
    color: @syntax-lightgray;
  }

  &.syntax--other.syntax--attribute-name {
    color: @syntax-brown;

    &.syntax--id {
      color: @syntax-blue;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @syntax-lightorange;
  }

  &.syntax--link {
    color: @syntax-ice;
  }

  &.syntax--require {
    color: @syntax-blue;
  }

  &.syntax--selector {
    color: @syntax-purple;
  }

  &.syntax--separator {
    background-color: @syntax-gray;
    color: @syntax-text-color;
  }

  &.syntax--tag {
    color: @syntax-bronze;
  }

  &.syntax--diff.syntax--range {
    color: @syntax-mint;
    background-color: @syntax-bg-inset;
  }

  &.syntax--diff.syntax--header {
    color: @syntax-darkblue;
    background-color: @syntax-bg-inset;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @syntax-peach;
    font-style: bold;
  }

  &.syntax--changed {
    color: @syntax-purple;
  }

  &.syntax--deleted {
    color: @syntax-black;
    background-color: @syntax-red;
  }

  &.syntax--italic {
    color: @syntax-purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @syntax-blue;
  }

  &.syntax--inserted {
    color: @syntax-black;
    background-color: @syntax-mint;
  }

  &.syntax--list {
    color: @syntax-pink;
  }

  &.syntax--quote {
    color: @syntax-lightblue;
  }

  &.syntax--raw.syntax--inline {
    color: @syntax-mint;
  }
}

.syntax--source {
  &.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;
    &.syntax--heading {
      color: @syntax-green;
    }
  }

  &.syntax--css.syntax--embedded {
    background-color: @syntax-black;
  }

  &.syntax--js.syntax--embedded {
    background-color: @syntax-black;
  }
}
