@import "syntax-variables";

.variable.language.self {
  color: @syntax-base-bloodorange;
}

.keyword.language.lua, .constant.language.lua, .variable.parameter.function.lua {
  color: @syntax-base-ice;
}

.variable.other.lua, .variable.other.property.lua {
  color: @syntax-base-lightgray;
}

.keyword.other.new.lua {
  font-weight: bold;
  color: @syntax-base-red;
}

.entity.name.lua, .entity.name.class.lua {
  color: @syntax-base-yellow;
}

.entity.name.function.lua, .punctuation.definition.parameters.begin.lua, .punctuation.definition.parameters.end.lua, .support.function.any-method.lua {
  color: @syntax-base-lightblue;
}

.entity.name.function.scope.lua {
  color: @syntax-base-yellow;
}

.meta.require.lua, .meta.function-call.lua, .support.function.lua {
  color: @syntax-base-darkblue;
}
