@import "syntax-variables";

.constant.other.color.rgb-value.css, .support.constant.property-value.css {
  color: @syntax-base-lightwhite;
}

.meta.property-name.css {
  color: @syntax-base-gray;
}

.punctuation.separator.key-value.css, .punctuation.terminator.rule.css {
  color: @syntax-base-lightwhite;
}

.support.constant.property-value.css {
  color: @syntax-base-white;
}

.constant.numeric.css {
  color: @syntax-base-white;
}

.entity.name.tag.css {
  font-style: italic;
  color: #cf4c20;
}

.entity.other.attribute-name.class.css {
  color: #e0bf48;
}

.entity.other.attribute-name.id.css {
  color: #ef8d0f;
}

.keyword.other.unit.css {
  color: #9fdfec;
}

.support.type.property-name.css, .meta.property-name.css {
  color: @syntax-base-lightgray;
}
