@import "syntax__colors";

.syntax--keyword.other.create.sql {
  color: @syntax-constants;
}

.syntax--storage.type.sql {
  color: @syntax-constants;
}

.syntax--storage.modifier.sql {
  color: @syntax-constants;
}

.syntax--constant.other.database-name.sql {
  color: @syntax-constants;
}
