@import "syntax__colors";

.linter-highlight {
  &.linter-error {
    background: @syntax-linter-error-color !important;
    font-style: normal !important;
    border: none !important;
  }

  &.linter-warning {
    background: @syntax-linter-warning-color !important;
    font-style: normal !important;
    border: none !important;
  }
}
